<%- include("partials/header.ejs") -%>

<section class="menuSidebar">
    <h4 id="categoryTitle"><%= category %></h4>
    <div id="contents">
        
        <% for(c of contents){ %>
            <form action="/category/<%= categoryId %>/content/<%= c.content_id %>"  method="post">
                 <button type="submit" name="btnSet"><%= c.content %></button>
            </form>
        <% }%>
        
        
    </div>
    <div class="createContent">
        <form action="/category/<%= categoryId %>/createContent" method="post">
            <input type="text" name="txtContent" placeholder="enter content title"> <br>
            <input type="text" name="txtUrlContent" placeholder="enter video url"> <br>
            <button type="submit">Submit</button>
        </form>
    </div>
    
</section>

<section class="categoryClass">
    <iframe 
        src="<%= urlContent %>" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
    </iframe> 
    
    <div class="notesSide">
        <form action="" method="post">
            <input type="text" name="title" id="" placeholder="expression"> <br>
            <textarea name="note" id="" cols="30" rows="2" placeholder="meaning"></textarea><br>
            <textarea name="example" id="" cols="30" rows="2" placeholder="example"></textarea><br>
            <textarea name="pronunciation" id="" cols="30" rows="1" placeholder="pronunciation"></textarea><br>
            <button type="submit" id="btn" onclick="reloadDiv()">Take note</button>
        </form>
    </div>
</section>


<%- include("partials/footer.ejs") -%>