<%- include("partials/header.ejs") -%>

<section id="mainContainer">
    
    <%if(!contents.length){%>
        <h3>Still no contents. Create them in the left sidebar menu</h3>
    <%}else{%>
        <h4 id="categoryTitle"><%= category %></h4>
        <div id="contents">
            <% for(c of contents){ %>
                <div class="content">
                    <a href="/category/<%= categoryId %>/content/<%= c.content_id %>">
                        <img class="thumbnail" src="" alt="cccc"/>

                        <%if(c.content.length > 75){%>
                            <p class="videoTitle"><%= c.content.substring(0, 75) %>...</p>
                        <% } else{ %>
                            <p class="videoTitle"><%= c.content %></p>
                        <% } %>
                        <p class="video-url" hidden><%= c.videoUrl%></p>
                    </a>
                </div>
            <% } %>
        </div>
    <%}%>

    
    <div class="createContent" id="createContent">
        <form action="/category/<%= categoryId %>/createContent" method="post">
            <input 
                    type="text" 
                    name="txtContent" 
                    placeholder="enter the video title" 
                    oninvalid="this.setCustomValidity('Please provide the video title.')"
                    required
            /> <br>
            <input 
                    type="text" 
                    name="txtUrlContent" 
                    id="txtUrlContent"
                    placeholder="enter the video url" 
                    oninvalid="this.setCustomValidity('Please provide the video url.')"
                    required
            /> <br>
            <button type="submit" id="btnCreateContent">create content</button>
        </form>
    </div>
    
</section>

<script type="text/javascript">

    /**
    *   Function to get thumbnail from a videoUrl  
    *   Get an url and split it by "/" and get the urlId witch the last element of splitted result arr 
    */
    (function(){
        let urls = document.getElementsByClassName("video-url");
        let thumbnail = document.getElementsByClassName("thumbnail");

        for(let i = 0; i < urls.length; i++){  
            let url = urls[i].innerText;
            let arr = url.split("/")
            let url_id = arr[arr.length-1];  
            
            thumbnail[i].src = '//img.youtube.com/vi/'+url_id+'/0.jpg';
        }
    }());

</script>